body{
background: url('https://wallpaper-house.com/data/out/10/wallpaper2you_418285.jpg');
color: white;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
 
}

p{
  font-family: 'Catamaran', sans-serif;
}


#quote-box, #tweet-quote, #random {
  width: 50%;
  margin: 0 auto;
}
